*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("./../Images/bg image.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.navbar{
    background-color: #58638D;
    display: flex;
    justify-content: center;
    height: 80px;
    margin-top: 20px;
}
.list{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    list-style-type: none;
    font-size: 30px;
    color: white;
}
.list li a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    height: 80px;
    }
.list li a:hover{
        background-color: #383F5A;
    }
@media  screen and (min-width:0px) and (max-width:359px) {
   .navbar{
    background-color: #84A4D9;
    height: 30px;
    margin-top: 8px;
   } 
   .list{
    font-size: 14px;
   }
   .list li a{
    display: flex;
    height: 30px;
    align-items: center;
    color: blue;
   }
   .divclass{
    min-height: 860px;
   }
}
@media  screen and (min-width:360px) and (max-width:767px) {
    .navbar{
     background-color: #5F8D63;
     height: 40px;
     margin-top: 11px;
    } 
    .list{
     font-size: 17px;
    }
    .list li a{
     display: flex;
     height: 40px;
     align-items: center;
     color: black;
    }
    .divclass{
        min-height: 570px;
    }
 }
 @media  screen and (min-width:768px) and (max-width:1023px) {
    .navbar{
     background-color: #5C4265;
     height: 50px;
     margin-top: 15px;
    } 
    .list{
     font-size: 20px;
    }
    .list li a{
     display: flex;
     height: 50px;
     align-items: center;
     color: whitesmoke ;
    }
    .divclass{
        min-height: 230px;
    }
 }
 @media  screen and (min-width:1024px) and (max-width:1499px) {
    .navbar{
     background-color: #7E7127;
     height: 70px;
     margin-top: 18px;
    } 
    .list{
     font-size: 25px;
    }
    .list li a{
     display: flex;
     height: 70px;
     align-items: center;
     color: royalblue ;
    }
    .divclass{
        min-height: 170px;
    }
 }
 .divclass{
    margin-top: 50px;
    height: 100px;
    font-size: 25px;
    border: 4px solid;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
 }
 
 
 
