.container{
    background-color: darkgreen;
    height:500px;
    display: flex;
    justify-content: center;
    align-items:center;
    animation-name: colorchange;
    animation-duration: 10s;
   
}
@keyframes colorchange {
    from {background-color: red;}
    to {background-color: yellow;}
}
h1{
    animation-name: colorchange;
    animation-duration: 10s;
}
@keyframes colorchange {
    from {background-color:yellowgreen;}
    to {background-color: red;}
}