*{
    text-align: center;
}
h1{
    font-size: 40px;
    background-color: lightblue;
}
table{
    border: 2px solid black;
    border-collapse: collapse;
    width: 80%;
}
th,td{
    border: 2px solid black;
    font-size: 21px;
    padding: 15px;
}
#table1{
    margin-left: 250px;
    margin-top: 70px;
}
tr:nth-child(even){
    background-color: lavender;
}